body {
  margin: 0;
  padding-top: 60px; /* 👈 mismo alto que el navbar */
}


/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 10px 1% ;
  z-index: 1001; /* siempre encima de la sidebar */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* opcional */
}

.navbar-left, .navbar-right {/*se le dice que el navbar izquierdo y derecho se distribuyan el espacio de manera equitativa*/
 display: flex;
  align-items: center;
}

.navbar-BTlateral {/*estilo del boton del menu anburguesa*/
 flex: 0 0 auto;
 width: 20px;/*sele da un tamaño personalizado*/
 margin-right: 160px;
}

.logo {
  height: 25px;
  margin-left: 10px;
}

.vertical-divider {
  display: inline-block;
  width: 3px;
  height: 28px;
  background-color: #3F3F3F;
  margin: 0 15px;
}

.navTitle {
  font: 18px Montserrat, sans-serif;
  color: #3F3F3F;
}
.icon3Bars {  
  width: 20px;
  height: 30px;  
}


/* Lado izquierdo1 */
.navbar-left {/*estilo de la parte izquieda del nabvar*/
 flex: 1; /* ocupa el espacio disponible */
  gap: 10px;
}

/* Lado derecho */
.navbar-right {
  flex: 1; /* ocupa el resto */
  justify-content: flex-end; /* se alinea a la derecha */
  gap: 25px;
  margin-right: 5%;
}

.navbar-right a {
  text-decoration: none;
  color: green;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
}


.navTitle2 {
  font: 16px verdana, sans-serif;
  color: #00C83C;
  font-weight: bold;
  text-decoration: underline;
  white-space: nowrap;
}

.navbar-right a:hover {
  text-decoration: underline;
}

.navbar-right img {
  height: 33px;
}

.help {
  position: relative; /* necesario para posicionar el span */
  display: inline-flex;
  align-items: center;
  gap: 8px; /* espacio entre icono y texto */
  text-decoration: none; /* quitar subrayado si es link */
  color: #000; /* color del texto */
}

.tooltip-text {
  font: 16px verdana, sans-serif;
  display: none; /* inicialmente oculto */
  font-size: 14px;
  background: none; /* si quieres fondo, pon color */
  color: #00C83C; /* ejemplo de color */
  flex-direction: column;
  font-weight: bold;
}

.help:hover .tooltip-text {
  display: flex; /* se muestra al pasar el cursor */
}



/* === RESPONSIVE === */

/* Tablets */
@media (max-width: 992px) {
  .navTitle {
    font-size: 16px;
  }
  .navTitle2 {
    font-size: 12px;
  }
  .navbar-right {
    gap: 10px;
  }
}

/* Móviles */
@media (max-width: 768px) {
  .navTitle {
    display: none; /* oculta texto largo */
  }
  .vertical-divider {
    display: none;
  }
  .navbar-right span {
    display: none; /* oculta textos, deja solo iconos */
  }
  .iconBar {
    display: none; /* oculta textos, deja solo iconos */
  }
  
  .navbar {
    padding: 10px;
  }
  .navbar-right {
    gap: 5px;
  }
  .navbar-right img {
    height: 24px;
  }
}





