<nav class="navbar">
  <div class="navbar-BTlateral">  
  <img src="/icon3Bars.png" (click)="toggleSidebar.emit()" alt="icon3Bars" class="icon3Bars">
  </div>
  <div class="navbar-left">
    <img src="/logo.png" alt="Logo" class="logo">
    <span class="vertical-divider"></span>
    <span class="navTitle">Plan Financiero Digital - FPX</span>
  </div>

  <div class="navbar-right">
    <a href="#">
      <img src="/happy.png" alt="iconBar" class="iconBar">
      <span class="navTitle2">Tu Financial Planner</span>
    </a>
    
    <a href="#">
      <img src="/hand3.png" alt="iconBar" class="iconBar" >
      <span class="navTitle2">Aportes</span>
    </a>
    <a href="#" class="help">
      <img src="/compfaq.png" alt="iconBar" class="iconBar">
    </a>
  </div>
</nav>

