.layout {
  display: flex;
  min-height: calc(100vh - 60px); /* 60px = altura aproximada del footer */

}

/* contenido corre a la derecha según ancho del sidebar */
.content {
  margin-top: 80px;
  /*margin-left: 60px;  mismo ancho del sidebar cerrado */
  transition: margin-left 0.3s ease;
}

.sidebar.expanded ~ .content {
  margin-left: 200px; /* mismo ancho del sidebar expandido */
}

app-footer {
  position: relative;   /* Mantiene su flujo normal */
  width: 100%;          /* Ocupa todo el ancho */
  z-index: 1000;        /* Mayor que la sidebar */
  background-color: #fff; /* Ajusta según tu diseño */
}