.sidebar {
  position: fixed;
  top: 80px; /* justo debajo del navbar */
  left: 0;
  height: calc(100% - 60px);
  width: 70px; /* cerrado en escritorio */
  background: #E2E2E2;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 999;
}

/* Estado abierto */
.sidebar.open {
  width: 250px;
}

/* Estilos internos */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 15px;
  align-items: center;
  display: flex;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #00C83C; /* verde en hover */
}

.icon {
  width: 23px;
  margin-left: 7px;
}

.titleLateral {
  color: #3F3F3F;
  font: 18px Montserrat, sans-serif;
  margin-left: 15px;
  white-space: nowrap;
}

/* ----------- Responsivo ----------- */
@media (max-width: 768px) {
  /* en móvil la barra arranca oculta */
  .sidebar {
    width: 0;
  }
  .sidebar.open {
    width: 250px; /* se despliega encima */
  }
}
